<!--
	perspective generator ver 1.01
	License: MIT 
	Copyright © 2016-2022 HashinKazushige

	Permission is hereby granted, free of charge, to any person obtaining a copy
	of this software and associated documentation files (the "Software"), to deal
	in the Software without restriction, including without limitation the rights
	to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
	copies of the Software, and to permit persons to whom the Software is
	furnished to do so, subject to the following conditions:

	The above copyright notice and this permission notice shall be included in all
	copies or substantial portions of the Software.

	THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
	IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
	FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
	AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
	LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
	OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
	SOFTWARE.
-->

<!DOCTYPE html>
<html>
<head>
	<title>perspective generator 1.0</title>
	<script src="jquery-3.1.0.js"></script>
	<script src="jquery-ui.min.js"></script>
	<script src="angular.min.js"></script>
	<script src="FileSaver.js"></script>
	
	<style>
		#stayOnTop {
			position: absolute;
			z-index: 20;
		}
		
		#canvasMain, #canvasSub1 {
			border-width: 1px;
			border-style: solid;
			border-color: grey;
			float: left;
			position: fixed;
		}
		
		input[type=number] {
			width: 40px;
			padding: 0px 0px;
			margin: 2px 0;
			box-sizing: border-box;
			resize: none;
			border-radius: 2px;
			font-size: 12px;
		}
		
		#pasteImg{
			width: 594px;
			height: 440px;
			border-width: 1px;
			border-style: solid;
			border-color: grey;
			line-Height: 50%;
			font: normal 10px arial;
			padding: 2px;
			float: left;
			-webkit-user-select: none;
			position: fixed;
			left: 490px;
			top: 35px;
			z-index: 15;
		}
		
		#canvasDiv {
			border-width: 1px;
			border-style: solid;
			border-color: grey;
			float: left;
			position: absolute;
			z-index: 10;
		}
		
	</style>
	
</head>
<body>
<div id="angularApp" ng-app="perspApp" ng-controller="perspCtrl" ng-keydown="plot()">
	<div id="stayOnTop">	
		mode: <select id="modeSelect" size="1" ng-change="plot()" ng-model="myValue2">
			<option value="rectilinear">rectilinear</option>
			<!--<option value="default">default</option>-->
			<option value="fisheye">fisheye</option>
		</select>
		<button id="coordLeft" ng-click="plot()"><</button>
		<button id="coordRight" ng-click="plot()">></button>
		<button id="coordUp" ng-click="plot()">&and;</button>
		<button id="coordDown" ng-click="plot()">&or;</button>
		<button id="coordOut" ng-click="plot()">&#8729;</button>
		<button id="coordIn" ng-click="plot()">+</button>
		<button id="coordLevel" ng-click="plot()">level</button>
		grid: <select id="planeSelect" size="1" ng-change="plot()" ng-model="myValue">
			<option value="xy">xy</option>
			<option value="yz">yz</option>
		</select>
		grid area: <input id="gridAreaID" ng-model="_division" ng-init="_division = 6" type="number" step="1">
		grid right: <input id="gridRightID" ng-model="_gridRight" ng-init="_gridRight = 0" type="number" step="1">
		grid up: <input id="gridUpID" ng-model="_gridUp" ng-init="_gridUp = 0" type="number" step="1">
		grid In: <input id="gridInID" ng-model="_gridIn" ng-init="_gridIn = 0" type="number" step="1">
		focal: <input id="focalID" ng-model="_focal" ng-init="_focal = 0.7" type="number" step="0.1">
		frame: <input id="frameID" ng-model="_frame" ng-init="_frame = 1.3" type="number" step="0.1">
		frameX: <input ng-model="_frameX" ng-init="_frameX = 0" type="number" step="20">
		frameY: <input ng-model="_frameY" ng-init="_frameY = 0" type="number" step="20">
		<button id="orientation" ng-click="plot()">{{_orientation}}</button>
		 v1: {{plot('x')}}
		 v2: {{plot('y')}}
		 v3: {{plot('z')}} 
		<button id="zoomIn">zoom in</button>
		<button id="zoomOut">zoom out</button>
		<button id="render">render</button>
	</div>
	<br>
	<div id="canvasDiv" class="drag">
		<canvas id="canvasSub1" style="margin-left: 10px;" contenteditable="true" width="4096" height="3072"></canvas>
		<canvas id="canvasMain" style="margin-left: 10px;" contenteditable="true" width="4096" height="3072"></canvas>
	</div>
</div>
<div id="pasteImg" class="drag"><button id="clear-logs">clear image</button></button><button id="zoomInPasteImg">+</button><button id="zoomOutPasteImg">-</button>zoom step: <input id="zoomStep" type="number" value="5" step="1">%
<br>paste here
</div>
	
<script>
	var canvasMain = document.getElementById("canvasMain");
	var canvasMainCtx = canvasMain.getContext("2d");
	canvasMain.style.width = '1600px';
	canvasMain.style.height = 'auto';
	
	var canvasSub1 = document.getElementById("canvasSub1");
	var canvasSub1Ctx = canvasSub1.getContext("2d");
	canvasSub1.style.width = '1600px';
	canvasSub1.style.height = 'auto';
	
	//console.log(canvasMainCtx);
	var v1 = new Object();
	var v2 = new Object();
	var v3 = new Object();
	var v1plot = new Object();
	var v2plot = new Object();
	var v3plot = new Object();
	var vVps = new Object();
	var t;
	var l;
	var chi;
	var gamma;
	var R = 1;
	var R0 = 2.1;
	var Sx;
	var Sy;
	var plane ='xz';
	var mode ='rectilinear';
	var focal;
	var division;
	var subdivision;
	var subdivision0 = 24;
	var frame;
	var frameY;
	var frameX;
	var gridRight;
	var gridUp;
	var gridIn;
	var frameWidth = 1188;
	var frameHeight = 840;
	var orientation = 'hor';
	
	v1.x = 1;
	v1.y = 0;
	v1.z = 0;
	v2.x = 0;
	v2.y = 1;
	v2.z = 0;
	v3.x = 0;
	v3.y = 0;
	v3.z = -1;
	
	function crossProduct(u,v,xyz){
		if(xyz == 'x') return (u.y*v.z - u.z*v.y);
		else if(xyz == 'y') return -(u.x*v.z - u.z*v.x);
		else return (u.x*v.y - u.y*v.x);
	}
	
	function dotProduct(u,v){
		return u.x * v.x + u.y * v.y + u.z * v.z;
	}
	
	function angleBetween2vectors(u,v){
		return Math.acos(dotProduct(u,v)/(Math.sqrt(u.x*u.x+u.y*u.y+u.z*u.z)*Math.sqrt(v.x*v.x+v.y*v.y+v.z*v.z)));
	}
	
	document.getElementById('coordLeft').addEventListener('click', function(){
	/*document.addEventListener("keydown", function(e){
		if(e.keyCode == 37) {
			coordLeftFunc();
			console.log("dvbib");
		}
		else;
	});*/
	
		var temp = new Object();
		temp.x = v1.x;
		temp.y = v1.y;
		temp.z = v1.z;
		v1.x += -0.01*v3.x;
		v1.y += -0.01*v3.y;
		v1.z += -0.01*v3.z;
		v2.x = crossProduct(v1,temp,'x');
		v2.y = crossProduct(v1,temp,'y');
		v2.z = crossProduct(v1,temp,'z');
		var absv2 = Math.sqrt(v2.x*v2.x + v2.y*v2.y + v2.z*v2.z);
		v2.x = 1/absv2*v2.x;
		v2.y = 1/absv2*v2.y;
		v2.z = 1/absv2*v2.z;
		var absv1 = Math.sqrt(v1.x*v1.x + v1.y*v1.y + v1.z*v1.z);
		v1.x = 1/absv1*v1.x;
		v1.y = 1/absv1*v1.y;
		v1.z = 1/absv1*v1.z;
		v3.x = crossProduct(v2,v1,'x');
		v3.y = crossProduct(v2,v1,'y');
		v3.z = crossProduct(v2,v1,'z');	
	});
	
	document.getElementById('coordRight').addEventListener('click', function(){
		var temp = new Object();
		temp.x = v1.x;
		temp.y = v1.y;
		temp.z = v1.z;
		v1.x += 0.01*v3.x;
		v1.y += 0.01*v3.y;
		v1.z += 0.01*v3.z;
		v2.x = crossProduct(temp,v1,'x');
		v2.y = crossProduct(temp,v1,'y');
		v2.z = crossProduct(temp,v1,'z');
		var absv2 = Math.sqrt(v2.x*v2.x + v2.y*v2.y + v2.z*v2.z);
		v2.x = 1/absv2*v2.x;
		v2.y = 1/absv2*v2.y;
		v2.z = 1/absv2*v2.z;
		var absv1 = Math.sqrt(v1.x*v1.x + v1.y*v1.y + v1.z*v1.z);
		v1.x = 1/absv1*v1.x;
		v1.y = 1/absv1*v1.y;
		v1.z = 1/absv1*v1.z;
		v3.x = crossProduct(v2,v1,'x');
		v3.y = crossProduct(v2,v1,'y');
		v3.z = crossProduct(v2,v1,'z');		
	});
	
	document.getElementById('coordUp').addEventListener('click', function(){
		var temp = new Object();
		temp.x = v2.x;
		temp.y = v2.y;
		temp.z = v2.z;
		v2.x += 0.01*v1.x;
		v2.y += 0.01*v1.y;
		v2.z += 0.01*v1.z;
		v3.x = crossProduct(temp,v2,'x');
		v3.y = crossProduct(temp,v2,'y');
		v3.z = crossProduct(temp,v2,'z');
		var absv3 = Math.sqrt(v3.x*v3.x + v3.y*v3.y + v3.z*v3.z);
		v3.x = 1/absv3*v3.x;
		v3.y = 1/absv3*v3.y;
		v3.z = 1/absv3*v3.z;
		var absv2 = Math.sqrt(v2.x*v2.x + v2.y*v2.y + v2.z*v2.z);
		v2.x = 1/absv2*v2.x;
		v2.y = 1/absv2*v2.y;
		v2.z = 1/absv2*v2.z;
		v1.x = crossProduct(v3,v2,'x');
		v1.y = crossProduct(v3,v2,'y');
		v1.z = crossProduct(v3,v2,'z');		
	});
	
	document.getElementById('coordDown').addEventListener('click', function(){
		var temp = new Object();
		temp.x = v2.x;
		temp.y = v2.y;
		temp.z = v2.z;
		v2.x += -0.01*v1.x;
		v2.y += -0.01*v1.y;
		v2.z += -0.01*v1.z;
		v3.x = crossProduct(v2,temp,'x');
		v3.y = crossProduct(v2,temp,'y');
		v3.z = crossProduct(v2,temp,'z');
		var absv3 = Math.sqrt(v3.x*v3.x + v3.y*v3.y + v3.z*v3.z);
		v3.x = 1/absv3*v3.x;
		v3.y = 1/absv3*v3.y;
		v3.z = 1/absv3*v3.z;
		var absv2 = Math.sqrt(v2.x*v2.x + v2.y*v2.y + v2.z*v2.z);
		v2.x = 1/absv2*v2.x;
		v2.y = 1/absv2*v2.y;
		v2.z = 1/absv2*v2.z;
		v1.x = crossProduct(v3,v2,'x');
		v1.y = crossProduct(v3,v2,'y');
		v1.z = crossProduct(v3,v2,'z');		
	});
	
	document.getElementById('coordOut').addEventListener('click', function(){
		var temp = new Object();
		temp.x = v2.x;
		temp.y = v2.y;
		temp.z = v2.z;
		v2.x += -0.01*v3.x;
		v2.y += -0.01*v3.y;
		v2.z += -0.01*v3.z;
		v1.x = crossProduct(temp,v2,'x');
		v1.y = crossProduct(temp,v2,'y');
		v1.z = crossProduct(temp,v2,'z');
		var absv2 = Math.sqrt(v2.x*v2.x + v2.y*v2.y + v2.z*v2.z);
		v2.x = 1/absv2*v2.x;
		v2.y = 1/absv2*v2.y;
		v2.z = 1/absv2*v2.z;
		var absv1 = Math.sqrt(v1.x*v1.x + v1.y*v1.y + v1.z*v1.z);
		v1.x = 1/absv1*v1.x;
		v1.y = 1/absv1*v1.y;
		v1.z = 1/absv1*v1.z;
		v3.x = crossProduct(v2,v1,'x');
		v3.y = crossProduct(v2,v1,'y');
		v3.z = crossProduct(v2,v1,'z');		
	});
	
	document.getElementById('coordIn').addEventListener('click', function(){
		var temp = new Object();
		temp.x = v2.x;
		temp.y = v2.y;
		temp.z = v2.z;
		v2.x += 0.01*v3.x;
		v2.y += 0.01*v3.y;
		v2.z += 0.01*v3.z;
		v1.x = crossProduct(v2,temp,'x');
		v1.y = crossProduct(v2,temp,'y');
		v1.z = crossProduct(v2,temp,'z');
		var absv2 = Math.sqrt(v2.x*v2.x + v2.y*v2.y + v2.z*v2.z);
		v2.x = 1/absv2*v2.x;
		v2.y = 1/absv2*v2.y;
		v2.z = 1/absv2*v2.z;
		var absv1 = Math.sqrt(v1.x*v1.x + v1.y*v1.y + v1.z*v1.z);
		v1.x = 1/absv1*v1.x;
		v1.y = 1/absv1*v1.y;
		v1.z = 1/absv1*v1.z;
		v3.x = crossProduct(v2,v1,'x');
		v3.y = crossProduct(v2,v1,'y');
		v3.z = crossProduct(v2,v1,'z');		
	});
	
	document.getElementById('coordLevel').addEventListener('click', function(){
		if(v2.x < 0.0001&&v2.x > -0.0001);
		else{
			var temp = new Object();
			var k;
			temp.x = v2.x;
			temp.y = v2.y;
			temp.z = v2.z;
			k = (-0.0000001-v2.x)/v1.x;
			v2.x += k*v1.x;
			v2.y += k*v1.y;
			v2.z += k*v1.z;
			v3.x = crossProduct(temp,v2,'x');
			v3.y = crossProduct(temp,v2,'y');
			v3.z = crossProduct(temp,v2,'z');
			var absv3 = Math.sqrt(v3.x*v3.x + v3.y*v3.y + v3.z*v3.z);
			v3.x = 1/absv3*v3.x;
			v3.y = 1/absv3*v3.y;
			v3.z = 1/absv3*v3.z;
			var absv2 = Math.sqrt(v2.x*v2.x + v2.y*v2.y + v2.z*v2.z);
			v2.x = 1/absv2*v2.x;
			v2.y = 1/absv2*v2.y;
			v2.z = 1/absv2*v2.z;
			v1.x = crossProduct(v3,v2,'x');
			v1.y = crossProduct(v3,v2,'y');
			v1.z = crossProduct(v3,v2,'z');	
		}
	});
	
	
	document.getElementById('zoomIn').addEventListener('click', function(){
		var width = parseInt(canvasMain.style.width);
		canvasMain.style.width = width*1.25 + 'px';
		canvasMain.style.height = 'auto';
		canvasSub1.style.width = width*1.25 + 'px';
		canvasSub1.style.height = 'auto';
	});	
	
	document.getElementById('zoomOut').addEventListener('click', function(){
		var width = parseInt(canvasMain.style.width);
		canvasMain.style.width = width*0.8 + 'px';
		canvasMain.style.height = 'auto';
		canvasSub1.style.width = width*0.8 + 'px';
		canvasSub1.style.height = 'auto';
	});	
	
	document.getElementById('clear-logs').addEventListener('click', function (e) {
		var node = document.getElementById('pasteImg');
		//console.log(node.childNodes.length);
		while (node.lastChild.nodeType==1) {
			node.removeChild(node.lastChild);
		}
	});
	
	document.getElementById('zoomInPasteImg').addEventListener('click', function (e) {
		var pasteImg = document.getElementById("pasteImg");
		for(i=pasteImg.childNodes.length-1;i>5;i--){
			var height = parseInt(pasteImg.childNodes[i].style.height);
			var zoomstep = document.getElementById('zoomStep').value;
			zoomstep =zoomstep * 0.01 + 1;
			pasteImg.childNodes[i].style.height = height*zoomstep + 'px';
		}
	});
	
	document.getElementById('zoomOutPasteImg').addEventListener('click', function (e) {
		var pasteImg = document.getElementById("pasteImg");
		for(i=pasteImg.childNodes.length-1;i>5;i--){
			var height = parseInt(pasteImg.childNodes[i].style.height);
			var zoomstep = document.getElementById('zoomStep').value;
			zoomstep =zoomstep * -0.01 + 1;
			pasteImg.childNodes[i].style.height = height*zoomstep + 'px';
		}
	});
	
	document.getElementById('orientation').addEventListener('click', function () {
		var width = frameHeight;
		var height = frameWidth;
		frameHeight = height;
		frameWidth = width;
	});
		
	var app = angular.module('perspApp', []);
	app.controller('perspCtrl', function($scope) {
		$scope.plot=function(e){
		
			//console.log("kfjnbksdf");
			//console.clear();
		
			canvasMainCtx.clearRect(0,0,4096,3072);
			plane = 'xz';
			if($scope.myValue2 == undefined )$scope.myValue2 = mode;
			mode = $scope.myValue2;
			division = $scope._division;
			focal = $scope._focal;
			//subdivision = $scope._subdivision * focal;
			//R = $scope._R * focal;
			subdivision = subdivision0 * focal;
			R = R0 * focal;
			frame = $scope._frame
			gridRight = $scope._gridRight;
			gridUp = $scope._gridUp;
			gridIn = $scope._gridIn;
			frameX = $scope._frameX;
			frameY = $scope._frameY;
			
			function calculateChiAndGamma(v){
				//chi = Math.atan(v.x/Math.sqrt(v.z*v.z + v.y*v.y));
				//gamma = Math.atan(v.y/Math.sqrt(v.z*v.z + v.x*v.x));
				//Sx = R*Math.tan(chi);
				//Sy = R*Math.tan(gamma);
				if(mode == 'fisheye'){
					chi = Math.atan(v.x/Math.sqrt(v.z*v.z + v.y*v.y));
					gamma = Math.atan(v.y/Math.sqrt(v.z*v.z + v.x*v.x));
					Sx = R*Math.sin(chi);
					Sy = R*Math.sin(gamma);
					//console.log("Sx:" + Sx.toFixed(2) + " Sy:" + Sy.toFixed(2));
				}
				else if(mode == 'rectilinear'){
					Sx = R*v.x/v.z;
					Sy = R*v.y/v.z;
					//console.log("Sx:" + Sx.toFixed(2) + " Sy:" + Sy.toFixed(2));
				}
				else{
					Sx = R*v.x/Math.sqrt(v.z*v.z + v.y*v.y);
					Sy = R*v.y/Math.sqrt(v.z*v.z + v.x*v.x);
				}
			}
			
			function calculateChiAndGamma2(v){
				//chi = Math.atan(-v.x/Math.sqrt(v.z*v.z + v.y*v.y));
				//gamma = Math.atan(-v.y/Math.sqrt(v.z*v.z + v.x*v.x));
				//Sx = R*Math.tan(chi);
				//Sy = R*Math.tan(gamma);
				if(mode == 'fisheye'){
					chi = Math.atan(-v.x/Math.sqrt(v.z*v.z + v.y*v.y));
					gamma = Math.atan(-v.y/Math.sqrt(v.z*v.z + v.x*v.x));
					Sx = R*Math.sin(chi);
					Sy = R*Math.sin(gamma);
				}
				else if(mode == 'rectilinear'){
					Sx = R*-v.x/v.z;
					Sy = R*-v.y/v.z;
				}
				else{
					Sx = R*-v.x/Math.sqrt(v.z*v.z + v.y*v.y);
					Sy = R*-v.y/Math.sqrt(v.z*v.z + v.x*v.x);
				}
			}
			
			function plotOnCanvas(){
				//canvasMainCtx.beginPath();
				//canvasMainCtx.moveTo(2048,1536);
				var xPix = Math.round(Sx*1600);
				var yPix = Math.round(Sy*1600);
				xPix += 2048;
				yPix += 1536;
				
				/*
				if((xPix>4096||xPix<0)||(yPix>3072||yPix<0));
				else{
					canvasMainCtx.lineTo(xPix,yPix);
					//canvasMainCtx.lineWidth = (400-(l+10)*(t+10))/100;
					canvasMainCtx.stroke();
					//canvasMainCtx.fillRect(2048+xPix,1536+yPix,1,1)
				}
				*/
				/*
				if((xPix<3896&&xPix>200)&&(yPix<2872&&yPix>200))
				{
					canvasMainCtx.lineTo(xPix,yPix);
					canvasMainCtx.stroke();
				}
				else;
				*/
				canvasMainCtx.lineTo(xPix,yPix);
				canvasMainCtx.stroke();
			}
			
			for(l=-division;l<division;l++){
				canvasMainCtx.beginPath();
				//canvasMainCtx.moveTo(2048,1536);
				for(t=-division;t<division;t++){
					if(plane=='xy'){
						v1plot.x = gridRight + v2.x*l + v1.x*t;
						v1plot.y = -gridUp + v2.y*l + v1.y*t;
						v1plot.z = subdivision + gridIn + v2.z*l + v1.z*t;
						if(v1plot.z < 0) continue;
						canvasMainCtx.strokeStyle = 'rgba(255,0,0,1)';
					}
					else if(plane=='xz'){
						v1plot.x = gridRight + v3.x*l + v1.x*t;
						v1plot.y = -gridUp + v3.y*l + v1.y*t;
						v1plot.z = subdivision + gridIn + v3.z*l + v1.z*t;
						if(v1plot.z < 0) continue;
						canvasMainCtx.strokeStyle = 'rgba(0,200,0,1)';
					}
					else{
						v1plot.x = gridRight + v1.x*t;
						v1plot.y = -gridUp + v1.y*t;
						v1plot.z = subdivision + gridIn + v1.z*t;
						if(v1plot.z < 0) continue;
						canvasMainCtx.strokeStyle = 'rgba(0,0,255,1)';
					}
					//canvasMainCtx.strokeStyle = 'rgba(255,0,0,1)';
					//canvasMainCtx.fillStyle = 'rgba(255,0,0,1)';
					calculateChiAndGamma(v1plot);
					plotOnCanvas();
				}
			}
			
			for(l=-division;l<division;l++){
				canvasMainCtx.beginPath();
				//canvasMainCtx.moveTo(2048,1536);
				for(t=-division;t<division;t++){
					if(plane=='xy'){
						v2plot.x = gridRight + v1.x*l + v2.x*t;
						v2plot.y = -gridUp + v1.y*l + v2.y*t;
						v2plot.z = subdivision + gridIn + v1.z*l + v2.z*t;
						if(v2plot.z < 0) continue;
						canvasMainCtx.strokeStyle = 'rgba(255,0,0,1)';
					}
					else if(plane=='xz'){
						v2plot.x = gridRight + v2.x*t;
						v2plot.y = -gridUp + v2.y*t;
						v2plot.z = subdivision + gridIn + v2.z*t;
						if(v2plot.z < 0) continue;
						canvasMainCtx.strokeStyle = 'rgba(0,200,0,1)';
					}
					else{
						v2plot.x = gridRight + v3.x*l + v2.x*t;
						v2plot.y = -gridUp + v3.y*l + v2.y*t;
						v2plot.z = subdivision + gridIn + v3.z*l + v2.z*t;
						if(v2plot.z < 0) continue;
						canvasMainCtx.strokeStyle = 'rgba(0,0,255,1)';
					}
					//canvasMainCtx.strokeStyle = 'rgba(0,200,0,1)';
					//canvasMainCtx.fillStyle = 'rgba(0,200,0,1)';
					calculateChiAndGamma(v2plot);
					plotOnCanvas();
				}
			}
			
			for(l=-division;l<division;l++){
				canvasMainCtx.beginPath();
				//canvasMainCtx.moveTo(2048,1536);
				for(t=-division;t<division;t++){
					if(plane=='xy'){
						v3plot.x = gridRight + v3.x*t;
						v3plot.y = -gridUp + v3.y*t;
						v3plot.z = subdivision + gridIn + v3.z*t;
						if(v3plot.z < 0) continue;
						canvasMainCtx.strokeStyle = 'rgba(255,0,0,1)';
					}
					else if(plane=='xz'){
						v3plot.x = gridRight + v1.x*l + v3.x*t;
						v3plot.y = -gridUp + v1.y*l + v3.y*t;
						v3plot.z = subdivision + gridIn + v1.z*l + v3.z*t;
						if(v3plot.z < 0) continue;
						canvasMainCtx.strokeStyle = 'rgba(0,200,0,1)';
					}
					else{
						v3plot.x = gridRight + v2.x*l + v3.x*t;
						v3plot.y = -gridUp + v2.y*l + v3.y*t;
						v3plot.z = subdivision + gridIn + v2.z*l + v3.z*t;
						if(v3plot.z < 0) continue;
						canvasMainCtx.strokeStyle = 'rgba(0,0,255,1)';
					}
					//canvasMainCtx.lineWidth = 5;
					//canvasMainCtx.strokeStyle = 'rgba(0,0,255,1)';
					//canvasMainCtx.fillStyle = 'rgba(0,0,255,1)';
					calculateChiAndGamma(v3plot);
					plotOnCanvas();
				}
			}
			
			//plot vp
			{
				var ifNegative;
				var vFront = {x:0,y:0,z:1};
				
				function calculatevVps(u,v){
					for(i=-9;i<=9;i++){
						vVps.x = u.x * Math.cos(i*Math.PI/18) + v.x * Math.sin(i*Math.PI/18);
						vVps.y = u.y * Math.cos(i*Math.PI/18) + v.y * Math.sin(i*Math.PI/18);
						vVps.z = u.z * Math.cos(i*Math.PI/18) + v.z * Math.sin(i*Math.PI/18);
						
						ifNegative = angleBetween2vectors(vFront,vVps);
						//console.log(ifNegative);
						
						if(ifNegative>0){
							calculateChiAndGamma(vVps);
							//canvasMainCtx.lineTo(2048-2+Math.round(Sx*1600),1536-2+Math.round(Sy*1600));
							canvasMainCtx.strokeStyle = 'rgba(255,156,0,1)';
							//canvasMainCtx.stroke();
							canvasMainCtx.fillStyle = 'rgba(255,156,0,1)';
							canvasMainCtx.fillRect(2048-4+Math.round(Sx*1600),1536-4+Math.round(Sy*1600),8,8);
							
							canvasMainCtx.font = "20px Arial";
							canvasMainCtx.fillStyle = 'rgba(255,156,0,1)';
							canvasMainCtx.fillText(i*10,2048-12+Math.round(Sx*1600),1536+25+Math.round(Sy*1600));
							//console.log(i*10);
				
						}
						else;
					}
					
					for(i=1;i<=8;i++){
						vVps.x = u.x * Math.cos(i*45*Math.PI/180) + v.x * Math.sin(i*45*Math.PI/180);
						vVps.y = u.y * Math.cos(i*45*Math.PI/180) + v.y * Math.sin(i*45*Math.PI/180);
						vVps.z = u.z * Math.cos(i*45*Math.PI/180) + v.z * Math.sin(i*45*Math.PI/180);
						
						ifNegative = angleBetween2vectors(vFront,vVps);
						
						if(ifNegative>0){
							calculateChiAndGamma(vVps);
							//canvasMainCtx.lineTo(2048-2+Math.round(Sx*1600),1536-2+Math.round(Sy*1600));
							canvasMainCtx.strokeStyle = 'rgba(216,0,255,1)';
							//canvasMainCtx.stroke();
							canvasMainCtx.fillStyle = 'rgba(216,0,255,1)';
							canvasMainCtx.fillRect(2048-4+Math.round(Sx*1600),1536-4+Math.round(Sy*1600),8,8);
						}
						else;
					}
				}
				
				
				function calculatevVps2(u,v){
					for(i=-17;i<=18;i++){
						vVps.x = u.x * Math.cos(i*Math.PI/18) + v.x * Math.sin(i*Math.PI/18);
						vVps.y = u.y * Math.cos(i*Math.PI/18) + v.y * Math.sin(i*Math.PI/18);
						vVps.z = u.z * Math.cos(i*Math.PI/18) + v.z * Math.sin(i*Math.PI/18);
						
						ifNegative = angleBetween2vectors(vFront,vVps);
						
						if(ifNegative>0){
							calculateChiAndGamma(vVps);
							//canvasMainCtx.lineTo(2048-2+Math.round(Sx*1600),1536-2+Math.round(Sy*1600));
							canvasMainCtx.strokeStyle = 'rgba(50,50,50,1)';
							//canvasMainCtx.stroke();
							canvasMainCtx.fillStyle = 'rgba(50,50,50,1)';
							canvasMainCtx.fillRect(2048-4+Math.round(Sx*1600),1536-4+Math.round(Sy*1600),8,8);
							
							canvasMainCtx.font = "20px Arial";
							canvasMainCtx.fillStyle = 'rgba(50,50,50,1)';
							canvasMainCtx.fillText(i*10,2048-12+Math.round(Sx*1600),1536-15+Math.round(Sy*1600));
				
						}
						else;
					}
				}
				
				function calculatevVps3(u,v){
					for(i=-90;i<90;i++){
						vVps.x = u.x * Math.cos(i*Math.PI/180) + v.x * Math.sin(i*Math.PI/180);
						vVps.y = u.y * Math.cos(i*Math.PI/180) + v.y * Math.sin(i*Math.PI/180);
						vVps.z = u.z * Math.cos(i*Math.PI/180) + v.z * Math.sin(i*Math.PI/180);
						
						ifNegative = angleBetween2vectors(vFront,vVps);
						
						if(ifNegative>0){
							calculateChiAndGamma(vVps);
							console.log(i+"deg,Sx:"+(Sx*24).toFixed(3)+" Sy:"+(Sy*24).toFixed(3));
						}
						else;
					}
				}
				
				var iniV1 = {x:-1,y:0,z:0};
				var iniV2 = {x:0,y:-1,z:0};
				var iniV3 = {x:0,y:0,z:1};
				
				//calculatevVps2(iniV3,iniV1);
				//calculatevVps2(iniV3,iniV2);
				
				//calculatevVps3(iniV3,iniV1);
				//calculatevVps3(iniV3,iniV2);
				
				calculatevVps(v3,v1);
				calculatevVps(v3,v2);
				calculatevVps(v2,v1);
			}
			
			calculateChiAndGamma(v1);
			canvasMainCtx.fillStyle = 'rgba(255,0,0,1)';
			canvasMainCtx.fillRect(2048-4+Math.round(Sx*1600),1536-4+Math.round(Sy*1600),8,8);
			canvasMainCtx.beginPath();
			canvasMainCtx.moveTo(2048-2+Math.round(Sx*1600),1536-2+Math.round(Sy*1600));
			canvasMainCtx.lineWidth = 4;
			calculateChiAndGamma2(v1);
			canvasMainCtx.lineTo(2048-2+Math.round(Sx*1600),1536-2+Math.round(Sy*1600));
			canvasMainCtx.strokeStyle = 'rgba(255,0,0,1)';
			
			canvasMainCtx.stroke();
			canvasMainCtx.fillRect(2048-4+Math.round(Sx*1600),1536-4+Math.round(Sy*1600),8,8);
			
			calculateChiAndGamma(v2);
			canvasMainCtx.fillStyle = 'rgba(0,200,0,1)';
			canvasMainCtx.fillRect(2048-4+Math.round(Sx*1600),1536-4+Math.round(Sy*1600),8,8);
			canvasMainCtx.beginPath();
			canvasMainCtx.moveTo(2048-2+Math.round(Sx*1600),1536-2+Math.round(Sy*1600));
			
			calculateChiAndGamma2(v2);
			canvasMainCtx.lineTo(2048-2+Math.round(Sx*1600),1536-2+Math.round(Sy*1600));
			canvasMainCtx.strokeStyle = 'rgba(0,200,0,1)';
			canvasMainCtx.stroke();
			canvasMainCtx.fillRect(2048-4+Math.round(Sx*1600),1536-4+Math.round(Sy*1600),8,8);
			
			calculateChiAndGamma(v3);
			canvasMainCtx.fillStyle = 'rgba(0,0,255,1)';
			canvasMainCtx.fillRect(2048-4+Math.round(Sx*1600),1536-4+Math.round(Sy*1600),8,8);
			canvasMainCtx.beginPath();
			canvasMainCtx.moveTo(2048-2+Math.round(Sx*1600),1536-2+Math.round(Sy*1600));
			
			calculateChiAndGamma2(v3);
			canvasMainCtx.lineTo(2048-2+Math.round(Sx*1600),1536-2+Math.round(Sy*1600));
			canvasMainCtx.strokeStyle = 'rgba(0,0,255,1)';
			canvasMainCtx.stroke();
			canvasMainCtx.fillRect(2048-4+Math.round(Sx*1600),1536-4+Math.round(Sy*1600),8,8);
			
			canvasMainCtx.fillStyle = 'rgba(0,0,0,1)';
			canvasMainCtx.fillRect(2048-4,1536-4,8,8);
			
			canvasMainCtx.strokeStyle = 'rgba(50,50,50,1)';
			canvasMainCtx.lineWidth = 4*frame;
			canvasMainCtx.strokeRect(2048-frameWidth*frame/2+frameX,1536-frameHeight*frame/2-frameY,frameWidth*frame,frameHeight*frame);
			canvasMainCtx.lineWidth = 1;
			if(frameWidth>frameHeight) orientation = 'hor';
			else orientation = 'ver';
			$scope._orientation = orientation;
			
			var inclination = Math.acos(-v3.y/(Math.sqrt(v3.x*v3.x+v3.y*v3.y+v3.z*v3.z)))*180/Math.PI;
			var azimuth = Math.atan2(v3.x,v3.z)*180/Math.PI;
			
			var vx = {x:1,y:0,z:0};
			var vy = {x:0,y:1,z:0};
			var vz = {x:0,y:0,z:1};
			
			var xAngle = Math.atan2(-v3.z,v3.y)*180/Math.PI;
			//var yAngle = Math.atan2(-v1.z,v1.x)*180/Math.PI;
			
			//var _v3 = new Object();
			//_v3.x = v3.x;
			//_v3.y = v3.y-dotProduct(v3,v2)/Math.sqrt(v2.x*v2.x+v2.y*v2.y+v2.z*v2.z);
			//_v3.z = v3.z;
			//console.clear();
			//console.log(Math.atan2(-v3.z,v3.y)*180/Math.PI);
			//var xAngle = angleBetween2vectors(_v3,vy)*180/Math.PI;
			
			var _v1 = new Object();
			_v1.x = v1.x;
			_v1.y = v1.y-dotProduct(v1,v2)/Math.sqrt(v2.x*v2.x+v2.y*v2.y+v2.z*v2.z);
			_v1.z = v1.z;
			//console.clear();
			//console.log(v1.y);
			//console.log(_v1);
			//console.log(vy.y);
			//console.log(dotProduct(v1,vy));
			var yAngle = angleBetween2vectors(_v1,vx)*180/Math.PI;
			
			
			var zAngle = Math.atan2(-v2.x,v2.y)*180/Math.PI;
			
			//var _v3 = new Object();
			//_v3.x = v3.x;
			//_v3.y = v3.y-dotProduct(v3,v2)/Math.sqrt(v2.x*v2.x+v2.y*v2.y+v2.z*v2.z);
			//_v3.z = v3.z;
			//var zAngle = angleBetween2vectors(_v3,vz)*180/Math.PI;
			
			canvasMainCtx.font = "30px Arial";
			canvasMainCtx.fillStyle = 'rgba(0,0,0,1)';
			canvasMainCtx.fillText("grid area:"+document.getElementById("gridAreaID").value+" grid right:"+document.getElementById("gridRightID").value+" grid up:"+document.getElementById("gridUpID").value+" grid in:"+document.getElementById("gridInID").value+" focal:"+document.getElementById("focalID").value+" frame:"+document.getElementById("frameID").value,2048-frameWidth*frame/2+frameX,1500-frameHeight*frame/2-frameY);
			canvasMainCtx.fillText("v1:("+ v1.x.toFixed(2) +','+ v1.y.toFixed(2) +','+v1.z.toFixed(2) + ")" + " v2:("+ v2.x.toFixed(2) +','+ v2.y.toFixed(2) +','+v2.z.toFixed(2) + ")" + " v3:("+ v3.x.toFixed(2) +','+ v3.y.toFixed(2) +','+v3.z.toFixed(2) + "    x: "+ xAngle.toFixed(1) + " y: "+ yAngle.toFixed(1) + " z: "+ zAngle.toFixed(1),2048-frameWidth*frame/2+frameX,1530-frameHeight*frame/2-frameY );
			
			/*
			canvasMainCtx.beginPath();
			canvasMainCtx.moveTo(2048-frameWidth*frame/2+frameX-100,1536-frameHeight*frame/2-frameY);
			canvasMainCtx.lineTo(2048-frameWidth*frame/2+frameX-100,1536-frameHeight*frame/2-frameY+R*200);
			canvasMainCtx.lineWidth = 4;
			canvasMainCtx.stroke();
			canvasMainCtx.fillText("x8",2048-frameWidth*frame/2+frameX-90,1536-frameHeight*frame/2-frameY+R*200);
			canvasMainCtx.fillText("="+R.toFixed(2),2048-frameWidth*frame/2+frameX-90,1560-frameHeight*frame/2-frameY+R*200);
			canvasMainCtx.lineWidth = 1;
			*/
			
			//canvasSub1
			//canvasSub1Ctx.clearRect(0,0,4096,3072);
			plane = document.getElementById("planeSelect").value;
			
			/*
			function plotOnCanvas2(){
				var xPix = Math.round(Sx*1600);
				var yPix = Math.round(Sy*1600);
				canvasMainCtx.lineTo(2048+xPix,1536+yPix);
				canvasMainCtx.stroke();
			}
			*/
			
			for(l=-division;l<division;l++){
				canvasMainCtx.beginPath();
				//canvasMainCtx.moveTo(2048,1536);
				for(t=-division;t<division;t++){
					if(plane=='xy'){
						v1plot.x = gridRight + v2.x*l + v1.x*t;
						v1plot.y = -gridUp + v2.y*l + v1.y*t;
						v1plot.z = subdivision + gridIn + v2.z*l + v1.z*t;
						if(v1plot.z < 0) continue;
						canvasMainCtx.strokeStyle = 'rgba(255,0,0,1)';
					}
					else if(plane=='xz'){
						v1plot.x = gridRight + v3.x*l + v1.x*t;
						v1plot.y = -gridUp + v3.y*l + v1.y*t;
						v1plot.z = subdivision + gridIn + v3.z*l + v1.z*t;
						if(v1plot.z < 0) continue;
						canvasMainCtx.strokeStyle = 'rgba(0,200,0,1)';
					}
					else{
						v1plot.x = gridRight + v1.x*t;
						v1plot.y = -gridUp + v1.y*t;
						v1plot.z = subdivision + gridIn + v1.z*t;
						if(v1plot.z < 0) continue;
						canvasMainCtx.strokeStyle = 'rgba(0,0,255,1)';
					}
					//canvasMainCtx.strokeStyle = 'rgba(255,0,0,1)';
					calculateChiAndGamma(v1plot);
					plotOnCanvas();
				}
			}
			
			
			for(l=-division;l<division;l++){
				canvasMainCtx.beginPath();
				//canvasMainCtx.moveTo(2048,1536);
				for(t=-division;t<division;t++){
					if(plane=='xy'){
						v2plot.x = gridRight + v1.x*l + v2.x*t;
						v2plot.y = -gridUp + v1.y*l + v2.y*t;
						v2plot.z = subdivision + gridIn + v1.z*l + v2.z*t;
						if(v2plot.z < 0) continue;
						canvasMainCtx.strokeStyle = 'rgba(255,0,0,1)';
					}
					else if(plane=='xz'){
						v2plot.x = gridRight + v2.x*t;
						v2plot.y = -gridUp + v2.y*t;
						v2plot.z = subdivision + gridIn + v2.z*t;
						if(v2plot.z < 0) continue;
						canvasMainCtx.strokeStyle = 'rgba(0,200,0,1)';
					}
					else{
						v2plot.x = gridRight + v3.x*l + v2.x*t;
						v2plot.y = -gridUp + v3.y*l + v2.y*t;
						v2plot.z = subdivision + gridIn + v3.z*l + v2.z*t;
						if(v2plot.z < 0) continue;
						canvasMainCtx.strokeStyle = 'rgba(0,0,255,1)';
					}
					//canvasMainCtx.strokeStyle = 'rgba(0,200,0,1)';
					calculateChiAndGamma(v2plot);
					plotOnCanvas();
				}
			}
			
			for(l=-division;l<division;l++){
				canvasMainCtx.beginPath();
				//canvasMainCtx.moveTo(2048,1536);
				for(t=-division;t<division;t++){
					if(plane=='xy'){
						v3plot.x = gridRight + v3.x*t;
						v3plot.y = -gridUp + v3.y*t;
						v3plot.z = subdivision + gridIn + v3.z*t;
						if(v3plot.z < 0) continue;
						canvasMainCtx.strokeStyle = 'rgba(255,0,0,1)';
					}
					else if(plane=='xz'){
						v3plot.x = gridRight + v1.x*l + v3.x*t;
						v3plot.y = -gridUp + v1.y*l + v3.y*t;
						v3plot.z = subdivision + gridIn + v1.z*l + v3.z*t;
						if(v3plot.z < 0) continue;
						canvasMainCtx.strokeStyle = 'rgba(0,200,0,1)';
					}
					else{
						v3plot.x = gridRight + v2.x*l + v3.x*t;
						v3plot.y = -gridUp + v2.y*l + v3.y*t;
						v3plot.z = subdivision + gridIn + v2.z*l + v3.z*t;
						if(v3plot.z < 0) continue;
						canvasMainCtx.strokeStyle = 'rgba(0,0,255,1)';
					}
					//canvasMainCtx.lineWidth = 5;
					//canvasMainCtx.strokeStyle = 'rgba(0,0,255,1)';
					calculateChiAndGamma(v3plot);
					plotOnCanvas();
				}
			}
			
			
			if(e=='x') return '('+ v1.x.toFixed(2) + ',' + v1.y.toFixed(2) + ',' + v1.z.toFixed(2) +')';
			else if(e=='y') return '('+ v2.x.toFixed(2) + ',' + v2.y.toFixed(2) + ',' + v2.z.toFixed(2) +')';
			else return '('+ v3.x.toFixed(2) + ',' + v3.y.toFixed(2) + ',' + v3.z.toFixed(2) +')';
		};
	});
	
	$(function(){
		$(".drag").draggable({
			//stack: ".drag"
			zIndex: 10
		});
	});
	
	var pastePngFileName = new Array();
	
	function dropPngFiles(ev) {
		ev.preventDefault();
		var items = ev.dataTransfer.items;
		isFileIsDir(items);
		console.log(pastePngFileName);
	}
	
	window.onload = function(){
		document.getElementById('pasteImg').ondragover = allowDrop;
		document.getElementById('pasteImg').ondrop = dropPngFiles;
	}
	
	function allowDrop(ev){
		ev.preventDefault();
	}
	
	function isFileIsDir(items){
		var img = new Array();
		var blob = new Array();
		var blobUrl = new Array();
		for(let i=0;i<items.length;++i){
			var entry = items[i].webkitGetAsEntry();
			if(entry.isFile==1){
				pastePngFileName.push(entry.name);
				blob[i] = items[i].getAsFile();
				window.URL = window.URL || window.webkitURL;
				blobUrl[i] = window.URL.createObjectURL(blob[i]);

				img[i] = document.createElement('img');
				img[i].src = blobUrl[i];
				img[i].id = entry.name;
			}
			else;
		}
		for(let i=items.length-1,j=0;i>=0;--i,++j){
			img[i].onload = function(){
				setTimeout((function(x){
					return function(){						
						var _canvas = document.createElement('canvas');
						_canvas.id = img[x].id + "canvas";
						_canvas.style.width = 'auto';
						_canvas.style.height = '420px';
						_canvas.style.position = 'absolute';
						//_canvas.style.float = 'left';
						_canvas.style.top = "24px";
						_canvas.style.left = "0px";
						_canvas.width = img[x].width;
						_canvas.height = img[x].height;
						_canvas.getContext('2d').globalAlpha = 0.5;
						_canvas.getContext('2d').drawImage(img[x], 0, 0, img[x].width, img[x].height);
						document.getElementById('pasteImg').appendChild(_canvas);						
						console.log(x); 
					};
				})(i),1000*j);
			}
		}
	}
	
	function save_render(){
		var canvas = document.createElement('canvas');
		canvas.id = "renderCanvas";
		canvas.width = frameWidth*frame*1.2; 
		canvas.height = frameHeight*frame*1.2;
		var canvasCtx = canvas.getContext("2d");
		var imgData=canvasMainCtx.getImageData(2048-frameWidth*frame*1.2/2+frameX,1536-frameHeight*frame*1.2/2-frameY,canvas.width,canvas.height);
		canvasCtx.putImageData(imgData,0,0);
		
		canvas.toBlob(function(blob) {
			saveAs(blob, "persp.png");
		});
	}
	
	document.getElementById('render').addEventListener("click",save_render,false);
</script>
	
</body>
</html>
